:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #000;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainYellow) !important;
}
.title {
  letter-spacing: 0.3rem;
  font-weight: 400;
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.btn-yellow:hover {
  background: var(--mainYellow) !important;
  color: var(--mainDark) !important;
}
.about {
  font-size: 1.2rem !important;
}
.menu {
  background: var(--mainGrey);
}
.contact {
  background: var(--mainGrey);
}
.footer {
  background: var(--mainDark);
}
